* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #F3F4F7;
}

nav {
    background-color: #333;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

ul a {
    display: block;
    padding: 15px 30px;
    color: #fff;
    text-decoration: none;
}

.active {
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    border-bottom: 3px solid rgb(2, 250, 250);
}



.header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px;

    /* border-radius: 10px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); */
}

.container {

    margin-top: 20px;
    background-color: white;
    padding: 20px;
    /* border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); */
    border: 1px solid #e0e0e0;
}

.container h3 {
    color: #007BFF;
}

h1 {
    color: #007BFF;
    font-size: 24px;
    margin: 0;
}


.search-bar {
    display: flex;
}

.search-bar input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 10px;
    width: 150px;
}

.search-bar button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #0056b3;
}

.weather-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #e0e0e0;
}

.weather-header div {
    text-align: center;
}

.weather-header h2 {
    font-size: 48px;
    margin: 0;
    color: #333;
}

.weather-header p {
    margin: 5px 0;
    color: #555;
    font-size: 14px;
}

.hourly-container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.hourly-container h2{
    color: #007BFF;
}

.hourly-container table {
    width: 100%;
    border-collapse: collapse;
}

.hourly-container th,
.hourly-container td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.hourly-container th {
    background-color: #f8f8f8;
}

